Dev/DialogueEditor.v12.suo
Dev/.vs/
Dev/DialogueEditorDLL/bin/
Dev/DialogueEditorDLL/obj/
Dev/DefaultBuild/bin/
Dev/DefaultBuild/obj/
Dev/DemoBuild/bin/
Dev/DemoBuild/obj/
Dev/TestSingleWindow/bin/
Dev/TestSingleWindow/obj/
*.VC.db
*.VC.VC.opendb
